# Mail-in-a-Box: Next Generation - Environment Variables
#
# Copia este archivo a .env y edita los valores.
#
# -----------------------------------------------------------------------------
# Dominio principal del servidor de correo.
# Este será el nombre de host del servidor y se usará para configurar
# todos los servicios, incluyendo SSL.
# -----------------------------------------------------------------------------
FQDN=mail.example.com

# -----------------------------------------------------------------------------
# Email para el registro de Let's Encrypt.
# Se usará para notificaciones sobre la renovación de certificados.
# -----------------------------------------------------------------------------
LETSENCRYPT_EMAIL=admin@example.com
